{:lein   true

 :nrepl {:port 8777}

 :builds {:app {:target          :browser
                :output-dir      "resources/public/js/compiled"
                :asset-path      "/js/compiled"
                :dev             {:modules          {:app {:entries [devtools.preload
                                                                     cljs-frontend-template.core]}}}
                :release         {:modules          {:app {:entries [cljs-frontend-template.core]}}
                                  :compiler-options {:optimizations :advanced
                                                     :pretty-print  false
                                                     :closure-defines {goog.DEBUG                           false}}}
                :devtools        {:http-root    "resources/public"
                                  :http-port    8280
                                  :preloads     [devtools.preload]
                                  :after-load   cljs-frontend-template.core/mount-root}}}}
